<%- include("../partials/head") %>
<section class="text-center mt-3 p-3 container">
    <h2>Login</h2>
    <div class="row">
        <div class="col-sm-12 col-md-6 mx-auto mt-3 border py-3 border-radius">
            <form>
                <div class="">
                    <div class="form-floating mb-3">
                        <input
                            type="text"
                            class="form-control bg-dark text-light"
                            id="emailCtrl"
                            placeholder="Email"
                            name="email"
                        />
                        <label for="emailCtrl">Email</label>
                        <div>
                            <p class="emailErr"></p>
                        </div>
                    </div>
                </div>

                <div class="">
                    <div class="form-floating mb-3">
                        <input
                            type="password"
                            class="form-control bg-dark text-light"
                            id="passwordCtrl"
                            placeholder="Password"
                            name="password"
                        />
                        <label for="passwordCtrl">Password</label>
                        <div>
                            <p class="passwordErr"></p>
                        </div>
                    </div>
                </div>

                <div class="container text-center">
                    <button class="btn btn-outline-light">Login</button>
                </div>
            </form>
        </div>
    </div>
</section>
<%- include("../partials/foot") %>

<script>
    // select elements
    const loginForm = document.querySelector("form");
    const emailErr = document.querySelector(".emailErr");
    const passwordErr = document.querySelector(".passwordErr");

    loginForm.addEventListener("submit", async (evt) => {
        // prevent default
        evt.preventDefault();

        // clear previous error messages
        emailErr.textContent = "";
        passwordErr.textContent = "";

        // extract form control values
        const email = loginForm.email.value;
        const password = loginForm.password.value;

        console.log(email, password);
        try {
            // make signup request
            const res = await fetch("/users/login", {
                method: "POST",
                body: JSON.stringify({ email, password }),
                headers: { "Content-Type": "application/json" },
            });
            const data = await res.json();

            // check for signup error
            if (data.errors) {
                emailErr.textContent = data.errors.email;
                passwordErr.textContent = data.errors.password;
            }

            // redirect to /albums
            if (data.id) location.assign("/albums");

            console.log(data, emailErr);
        } catch (error) {
            console.log(error);
        }
    });
</script>
